<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- ======= Sidebar ======= -->
<aside th:fragment="side" id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="index">
                <i class="bi bi-grid"></i>
                <span>Home</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="shop">
                <i class="bi bi-shop"></i>
                <span>쇼핑몰 관리</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="item">
                <i class="bi bi-tag"></i>
                <span>상품 관리</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="order">
                <i class="bi bi-journal-text"></i>
                <span>주문 관리</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link collapsed" href="delivery">
                <i class="bi bi-calendar"></i>
                <span>배송 관리</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link collapsed" href="claim">
                <i class="bi bi-telephone"></i>
                <span>CS 관리</span>
            </a>
        </li>


        <li class="nav-heading">Support</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="notice">
                <i class="bi bi-question-circle"></i>
                <span>공지사항</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="contact">
                <i class="bi bi-envelope"></i>
                <span>고객지원</span>
            </a>
        </li>
    </ul>

</aside><!-- End Sidebar-->

</body>
</html>
